*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(49, 45, 45);
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.items{
    background-color: rgb(128, 128, 228);
    border: 5px solid black;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
   grid-column-start: 1;
   grid-column-end: 4;
   
}
.sidebar{
    grid-row-start: 2;
    grid-row-end:4;
}
.content{
    grid-column-start: 2;
    grid-column-end: 4;
}